In [238]:
#Importing pandas and numpy
import pandas as pd
import numpy as np
import ast
import warnings

In [239]:
#Reading dataframe
data = pd.read_csv('health_insurance(updatednew).csv')

In [240]:
#Displaying first 5 rows
data.head()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim,PotentialFraud
0,60.0,male,64,24.3,1,0,NewYork,72,0,0,Actor,Allegany,4,122,Other pneumonia,1,1.0,Medical,13112.6,No
1,49.0,female,75,22.6,1,0,Boston,78,1,1,Engineer,Allegany,4,197,Cellulitis & other skin infections,3,2.0,Medical,9567.0,No
2,32.0,female,64,17.8,2,1,Phildelphia,88,1,1,Academician,Allegany,3,122,Other pneumonia,1,1.0,Medical,32734.2,No
3,61.0,female,53,36.4,1,1,Pittsburg,72,1,0,Chef,Allegany,1,122,Other pneumonia,1,1.0,Medical,48517.6,Yes
4,19.0,female,50,20.6,0,0,Buffalo,82,1,0,HomeMakers,Allegany,3,122,Other pneumonia,2,3.0,Medical,1731.7,No

In [241]:
#There are no duplicated rows in the data
data.duplicated().sum()

0

In [242]:
#Calculating the total Null Values in the data
data.isnull().sum()

age                   396
sex                     0
weight                  0
bmi                   956
no_of_dependents        0
smoker                  0
city                    0
bloodpressure           0
diabetes                0
regular_ex              0
job_title               0
Hospital County        33
Days_spent              0
ccs_diagnosis_code      0
Illness                 0
Code_illness            0
Mortality risk          1
Surg_Description        0
claim                   0
PotentialFraud          0
dtype: int64

In [243]:
#Dropping rows having atleast one NULL value and storing data in new variable 'data_Clean'
data_clean = data.dropna()

In [244]:
#Calculating the unique values of a column 'sex' which has data in string
data_clean['sex'].unique()

array(['male', 'female'], dtype=object)

In [245]:
#Converting the string unique values of column 'sex' to numerical 0 and 1 as the machine understands only numerical data
data_clean['sex'] = data_clean['sex'].astype(str).map({'female': 0, 'male': 1})
data_clean['sex']

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\3487469576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['sex'] = data_clean['sex'].astype(str).map({'female': 0, 'male': 1})

0        1
1        0
2        0
3        0
4        0
        ..
14995    1
14996    1
14997    1
14998    1
14999    1
Name: sex, Length: 13621, dtype: int64

In [246]:
#Calculating the unique values of a column 'city' which has data in string
data_clean['city'].unique()

array(['NewYork', 'Boston', 'Phildelphia', 'Pittsburg', 'Buffalo',
       'AtlanticCity', 'Portland', 'Cambridge', 'Springfield', 'Syracuse',
       'Baltimore', 'York', 'Trenton', 'Warwick', 'WashingtonDC',
       'Providence', 'Harrisburg', 'Newport', 'Stamford', 'Worcester',
       'Atlanta', 'Brimingham', 'Charleston', 'Charlotte', 'Louisville',
       'Memphis', 'Nashville', 'NewOrleans', 'Raleigh', 'Houston',
       'Georgia', 'Oklahoma', 'Orlando', 'Macon', 'Huntsville',
       'Knoxville', 'Florence', 'Miami', 'Tampa', 'PanamaCity',
       'Kingsport', 'Marshall', 'Mandan', 'Waterloo', 'IowaCity',
       'Columbia', 'Indianapolis', 'Cincinnati', 'Bloomington', 'Salina',
       'KanasCity', 'Brookings', 'Minot', 'Chicago', 'Lincoln',
       'GrandForks', 'Fargo', 'Cleveland', 'Columbus', 'Rochester',
       'JeffersonCity', 'Escabana', 'Youngstown', 'SantaRosa', 'Eureka',
       'SanFrancisco', 'SanJose', 'LosAngeles', 'Oxnard', 'SanDeigo',
       'Carlsbad', 'Prescott', 'Fresno', 'Reno', 'LasVegas', 'Tucson',
       'Denver', 'Kingman', 'Bakersfield', 'Mexicali', 'SilverCity',
       'Pheonix', 'SantaFe', 'Lovelock', 'Oceanside', 'Montrose',
       'SanLuis', 'Hartford', 'FallsCity', 'Canton', 'Minneapolis'],
      dtype=object)

In [247]:
#Converting the string unique values of column 'city' to numerical data as the machine understands only numerical values
data_clean['city']=data_clean['city'].astype(str).map({'NewYork':1, 'Boston':2, 'Phildelphia':3, 'Pittsburg':4, 'Buffalo':5,
       'AtlanticCity':6, 'Portland':7, 'Cambridge':8, 'Springfield':9, 'Syracuse':10,
       'Baltimore':11, 'York':12, 'Trenton':13, 'Warwick':14, 'WashingtonDC':15,
       'Providence':16, 'Harrisburg':17, 'Newport':18, 'Stamford':19, 'Worcester':20,
       'Atlanta':86, 'Brimingham':87, 'Charleston':88, 'Charlotte':89, 'Louisville':90,
       'Memphis':21, 'Nashville':22, 'NewOrleans':23, 'Raleigh':24, 'Houston':25,
       'Georgia':26, 'Oklahoma':26, 'Orlando':27, 'Macon':28, 'Huntsville':29,
       'Knoxville':30, 'Florence':31, 'Miami':32, 'Tampa':33, 'PanamaCity':34,
       'Kingsport':35, 'Marshall':36, 'Mandan':37, 'Waterloo':38, 'IowaCity':39,
       'Columbia':40, 'Indianapolis':41, 'Cincinnati':42, 'Bloomington':43, 'Salina':44,
       'KanasCity':45, 'Brookings':46, 'Minot':47, 'Chicago':48, 'Lincoln':49,
       'GrandForks':50, 'Fargo':51, 'Cleveland':52, 'Columbus':53, 'Rochester':54,
       'JeffersonCity':55, 'Escabana':56, 'Youngstown':57, 'SantaRosa':58, 'Eureka':59,
       'SanFrancisco':60, 'SanJose':61, 'LosAngeles':62, 'Oxnard':63, 'SanDeigo':64,
       'Carlsbad':65, 'Prescott':66, 'Fresno':67, 'Reno':68, 'LasVegas':69, 'Tucson':70,
       'Denver':71, 'Kingman':72, 'Bakersfield':73, 'Mexicali':74, 'SilverCity':75,
       'Pheonix':76, 'SantaFe':77, 'Lovelock':78, 'Oceanside':79, 'Montrose':80,
       'SanLuis':81, 'Hartford':82, 'FallsCity':83, 'Canton':84, 'Minneapolis':85})

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\1644533818.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['city']=data_clean['city'].astype(str).map({'NewYork':1, 'Boston':2, 'Phildelphia':3, 'Pittsburg':4, 'Buffalo':5,

In [248]:
#Calculating the unique values of a column 'job_title' which has data in string
data_clean['job_title'].unique()

array(['Actor', 'Engineer', 'Academician', 'Chef', 'HomeMakers', 'Dancer',
       'Singer', 'DataScientist', 'Police', 'Student', 'Doctor',
       'Manager', 'Photographer', 'Beautician', 'CA', 'Blogger', 'CEO',
       'Labourer', 'Accountant', 'FilmDirector', 'Technician',
       'FashionDesigner', 'Architect', 'HouseKeeper', 'FilmMaker',
       'Buisnessman', 'DefencePersonnels', 'Analyst', 'Clerks',
       'Politician', 'ITProfessional', 'Farmer', 'Journalist', 'Lawyer',
       'GovEmployee'], dtype=object)

In [249]:
#Converting the string unique values of column 'city' to numerical data as the machine understands only numerical values
data_clean['job_title']=data_clean['job_title'].map({'Actor':1, 'Engineer':2, 'Academician':3, 'Chef':4, 'HomeMakers':5, 'Dancer':6,
       'Singer':7, 'DataScientist':8, 'Police':9, 'Student':10, 'Doctor':11,
       'Manager':12, 'Photographer':13, 'Beautician':14, 'CA':15, 'Blogger':16, 'CEO':17,
       'Labourer':18, 'Accountant':19, 'FilmDirector':20, 'Technician':21,
       'FashionDesigner':22, 'Architect':23, 'HouseKeeper':24, 'FilmMaker':25,
       'Buisnessman':26, 'DefencePersonnels':27, 'Analyst':28, 'Clerks':29,
       'Politician':30, 'ITProfessional':31, 'Farmer':32, 'Journalist':33, 'Lawyer':34,
       'GovEmployee':35})

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\2506347613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['job_title']=data_clean['job_title'].map({'Actor':1, 'Engineer':2, 'Academician':3, 'Chef':4, 'HomeMakers':5, 'Dancer':6,

In [250]:
#Calculating the unique values of a column 'Hospital County' which has data in string
data_clean['Hospital County'].unique()

array(['Allegany', 'Cattaraugus', 'Chautauqua'], dtype=object)

In [251]:
#Converting the string unique values of column 'Hospital County' to numerical data as the machine understands only numerical values
data_clean['Hospital County']=data_clean['Hospital County'].astype(str).map({'Allegany':0, 'Cattaraugus':1, 'Chautauqua':3})

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\3486184878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Hospital County']=data_clean['Hospital County'].astype(str).map({'Allegany':0, 'Cattaraugus':1, 'Chautauqua':3})

In [252]:
#Calculating the unique values of a column 'Illness' which has data in string
data_clean['Illness'].unique()

array(['Other pneumonia', 'Cellulitis & other skin infections',
       'Other digestive system diagnoses',
       'Other gastroenteritis, nausa & vomiting',
       'Chronic obstructive pulmonary disease',
       'Infections of upper respiratory tract',
       'Kidney & urinary tract infections',
       'Respiratory signs, symptoms & minor diagnoses',
       'Intestinal obstruction',
       'Post-operative, post-traumatic, other device infections',
       'Diverticulitis & diverticulosis',
       'Other ear, nose, mouth,throat & cranial/facial diagnoses',
       'Major chest & respiratory trauma',
       'Other & unspecified gastrointestinal hemorrhage', 'Asthma',
       'Electrolyte disorders except hypovolemia related',
       'Malnutrition, failure to thrive & other nutritional disorders',
       'Hypovolemia & related electrolyte disorders',
       'Peripheral & other vascular disorders',
       'Other kidney & urinary tract diagnoses, signs & symptoms',
       'Head trauma w coma >1 hr or hemorrhage',
       'Signs, symptoms & other factors influencing health status',
       'RENAL FAILURE',
       'Multiple sclerosis & other demyelinating diseases',
       'Hypertension',
       'Contusion, open wound & other trauma to skin & subcutaneous tissue',
       'Disorders of pancreas except malignancy',
       'Connective tissue disorders',
       'Uterine & adnexa procedures for non-malignancy except leiomyoma',
       'Cesarean delivery', 'Septicemia & disseminated infections',
       'Respiratory Failure', 'Inflammatory bowel disease',
       'Alcohol abuse & dependence', 'Laparoscopic cholecystectomy',
       'Major respiratory infections & inflammations',
       'Fractures & dislocations except femur, pelvis & back',
       'Angina pectoris & coronary atherosclerosis', 'Vaginal delivery',
       'Disorders of gallbladder & biliary tract',
       'Other endocrine disorders',
       'Malfunction, reaction, complic of genitourinary device or proc',
       'Chest pain',
       'Neonate birthwt >2499g, normal newborn or neonate w other problem',
       'Menstrual & other female reproductive system disorders',
       'Pulmonary embolism',
       'Peripheral, cranial & autonomic nerve disorders', 'Heart failure',
       'Major small & large bowel procedures',
       'Bronchiolitis & RSV pneumonia', 'Hip joint replacement',
       'Major hematologic/immunologic diag exc sickle cell crisis & coagul',
       'CVA & precerebral occlusion w infarct',
       'Nonextensive procedure unrelated to principal diagnosis',
       'Major gastrointestinal & peritoneal infections',
       'Acute myocardial infarction',
       'Musculoskeletal malignancy & pathol fracture d/t muscskel malig',
       'Cardiac arrhythmia & conduction disorders',
       'Other antepartum diagnoses', 'Hip and femur fracture repair',
       'Poisoning of medicinal agents', 'Abdominal pain',
       'Other anemia & disorders of blood & blood-forming organs',
       'Other respiratory diagnoses except signs, symptoms & minor diagnoses',
       'Malfunction, reaction & complication of GI device or procedure',
       'Other musculoskeletal system & connective tissue diagnoses',
       'Other injury, poisoning & toxic effect diagnoses',
       'Fracture of pelvis or dislocation of hip',
       'HIV w major HIV related condition',
       'Uterine & adnexa procedures for leiomyoma',
       'Neonate bwt 2000-2499g, normal newborn or neonate w other problem',
       'Opioid abuse & dependence',
       'Respiratory system diagnosis w ventilator support 96+ hours',
       'Seizure', 'Nephritis & nephrosis',
       'Neonate, birthwt >2499g w resp dist synd/oth maj resp cond',
       'Malignant breast disorders', 'Peptic ulcer & gastritis',
       'Syncope & collapse', 'Appendectomy', 'Viral illness',
       'Vaginal delivery w sterilization &/or D&C',
       'Urinary stones & acquired upper urinary tract obstruction',
       'Other female reproductive system & related procedures',
       'Moderately extensive procedure unrelated to principal diagnosis',
       'Drug & alcohol abuse or dependence, left against medical advice',
       'Dilation & curettage for non-obstetric diagnoses',
       'Cardiac structural & valvular disorders',
       'Nervous system malignancy',
       'Other back & neck disorders, fractures & injuries',
       'Other nervous system & related procedures',
       'Digestive malignancy',
       'Infectious & parasitic diseases including HIV w O.R. procedure',
       'Diabetes', 'Other digestive system & abdominal procedures',
       'Vaginal delivery w complicating procedures exc sterilization &/or D&C',
       'Other circulatory system diagnoses',
       'Neonate, transferred < 5 days old, born here',
       'Allergic reactions', 'Major esophageal disorders',
       'Neonate birthwt >2499g w other significant condition',
       'Major depressive disorders & other/unspecified psychoses',
       'Vertigo & other labyrinth disorders',
       'Procedure w diag of rehab, aftercare or oth contact w health service',
       'Skin ulcers', 'Foot & toe procedures',
       'Post-op, post-trauma, other device infections w O.R. procedure',
       'Inguinal, femoral & umbilical hernia procedures',
       'Peritoneal adhesiolysis',
       'Toxic effects of non-medicinal substances', 'Fever',
       'Malignancy of hepatobiliary system & pancreas',
       'D&C, aspiration curettage or hysterotomy for obstetric diagnoses',
       'Organic mental health disturbances', 'Preterm labor',
       'Tendon, muscle & other soft tissue procedures',
       'Transient ischemia', 'Intracranial hemorrhage',
       'O.R. procedure for other complications of treatment',
       'Urethral & transurethral procedures',
       'Female reproductive system malignancy',
       'Eye disorders except major infections',
       'Nontraumatic stupor & coma', 'Other esophageal disorders',
       'Multiple significant trauma w/o O.R. procedure',
       'Male reproductive system diagnoses except malignancy',
       'Other drug abuse & dependence',
       'Osteomyelitis, septic arthritis & other musculoskeletal infections',
       'Dental & oral diseases & injuries',
       'Major stomach, esophageal & duodenal procedures',
       'Respiratory malignancy',
       'Malfunction,reaction,complication of cardiac/vasc device or procedure',
       'Other skin, subcutaneous tissue & breast disorders',
       'Alcoholic liver disease',
       'Lymphatic & other malignancies & neoplasms of uncertain behavior',
       'Interstitial & alveolar lung diseases',
       'Other significant hip and femur surgery',
       'Major O.R. procedures for lymphatic/hematopoietic/other neoplasms',
       'Kidney & urinary tract malignancy',
       'Other small & large bowel procedures',
       'Cholecystectomy except laparoscopic', 'Anal procedures',
       'Depression except major depressive disorder',
       'Other disorders of nervous system',
       'Knee & lower leg procedures except foot',
       'Degenerative nervous system disorders exc mult sclerosis',
       'Neonate birthwt >2499g w major anomaly', 'Knee joint replacement',
       'Hepatic coma & other major acute liver disorders',
       'OTHER VASCULAR PROCEDURES',
       'Amputation of lower limb except toes',
       'Gastrointestinal vascular insufficiency',
       'Other respiratory & chest procedures', 'Splenectomy',
       'Other complications of treatment',
       'Perm cardiac pacemaker implant w/o AMI, heart failure or shock',
       'Other O.R. procedures for lymphatic/hematopoietic/other neoplasms',
       'Coagulation & platelet disorders',
       'Hernia procedures except inguinal, femoral & umbilical',
       'Sickle cell anemia crisis',
       'Partial thickness burns without skin graft',
       'Other disorders of the liver', 'Schizophrenia',
       'Extracranial vascular procedures',
       'Lymphoma, myeloma & non-acute leukemia',
       'Non-bacterial infections of nervous system exc viral meningitis',
       'Other infectious & parasitic diseases',
       'Extensive procedure unrelated to principal diagnosis',
       'Uterine & adnexa procedures for non-ovarian & non-adnexal malig',
       'Major respiratory & chest procedures', 'Fracture of femur',
       'Malfunction, reaction, complic of orthopedic device or procedure',
       'Transurethral prostatectomy',
       'Concussion, closed skull Fx nos,uncomplicated intracranial injury, coma < 1 hr or no coma',
       'Nonspecific CVA & precerebral occlusion w/o infarct',
       'Breast procedures except mastectomy', 'Major skin disorders',
       'Neonate birthwt >2499g w congenital/perinatal infection',
       'Neonate bwt 2000-2499g w other significant condition',
       'Neonate bwt 1500-1999g w or w/o other significant condition',
       'Cardiac arrest and shock', 'Mastectomy procedures',
       'Malignancy, male reproductive system',
       'Major abdominal vascular procedures',
       'Tracheostomy w MV 96+ hours w extensive procedure or ECMO',
       'Other O.R. proc for obstetric diagnoses except delivery diagnoses',
       'Tonsil & adenoid procedures',
       'Other kidney, urinary tract & related procedures',
       'Inborn errors of metabolism',
       'Female reproductive system reconstructive procedures',
       'Shoulder, upper arm & forearm procedures except joint replacement',
       'Other hepatobiliary, pancreas & abdominal procedures',
       'Permanent cardiac pacemaker implant w AMI, heart failure or shock',
       'Thyroid, parathyroid & thyroglossal procedures',
       'Female reproductive system infections',
       'Uterine & adnexa procedures for ovarian & adnexal malignancy',
       'Rehabilitation', 'Ectopic pregnancy procedure',
       'Bipolar disorders',
       'Other skin, subcutaneous tissue & related procedures',
       'Tracheostomy w MV 96+ hours w/o extensive procedure',
       'Eating disorders', 'Migraine & other headaches',
       'Viral meningitis', 'Acute anxiety & delirium states',
       'Postpartum & post abortion diagnoses w/o procedure',
       'Acute major eye infections', 'Neonate bwt <500g or GA <24 weeks',
       'Other stomach, esophageal & duodenal procedures',
       'Other circulatory system procedures',
       'Kidney & urinary tract procedures for nonmalignancy',
       'HIV w one signif HIV cond or w/o signif related cond',
       'Skin graft for skin & subcutaneous tissue diagnoses',
       'Cystic fibrosis - pulmonary disease',
       'Other musculoskeletal system & connective tissue procedures',
       'Hand & wrist procedures',
       'Neonate, transferred <5 days old, not born here',
       'Acute & subacute endocarditis',
       'Ear, nose, mouth, throat, cranial/facial malignancies',
       'Abortion w/o D&C, aspiration curettage or hysterotomy',
       'Spinal disorders & injuries', 'Spinal procedures',
       'Alcohol & drug dependence w rehab or rehab/detox therapy',
       'Behavioral disorders',
       'Adjustment disorders & neuroses except depressive diagnoses',
       'Cardiac defibrillator & heart assist implant',
       'Major bladder procedures',
       'Intervertebral disc excision & decompression',
       'Extensive abdominal/thoracic procedures for mult significant trauma',
       'Major male pelvic procedures',
       'Cardiac catheterization for coronary artery disease',
       'Kidney & urinary tract procedures for malignancy',
       'Testes & scrotal procedures',
       'Percutaneous coronary intervention w/o AMI',
       'Cardiac catheterization for other non-coronary conditions',
       'Other male reproductive system & related procedures',
       'Cardiomyopathy',
       'Cardiac pacemaker & defibrillator device replacement',
       'Acute leukemia',
       'Bacterial & tuberculous infections of nervous system'],
      dtype=object)

In [253]:
#Converting the string unique values of column 'Illness' to numerical data as the machine understands only numerical data(shortcut)

illness_mapping = {illness: idx for idx, illness in enumerate(data_clean['Illness'].unique())}

# Map the 'Illness' column to numerical values
data_clean['Illness'] = data_clean['Illness'].map(illness_mapping)

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\4089648654.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Illness'] = data_clean['Illness'].map(illness_mapping)

In [254]:
#Calculating the unique values of a column 'Surg_Description' which has data in string
data_clean['Surg_Description'].unique()

array(['Medical', 'Surgical'], dtype=object)

In [255]:
#Converting the string unique values of column 'Hospital County' to numerical 0 and 1 as the machine understands only numerical data(shortcut)
data_clean['Surg_Description']=data_clean['Surg_Description'].astype(str).map({'Medical':0, 'Surgical':1})

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\3393624544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Surg_Description']=data_clean['Surg_Description'].astype(str).map({'Medical':0, 'Surgical':1})

In [256]:
def convert_range_to_midpoint(value):
    if isinstance(value, str) and '+' in value:
        # Handle the range '120+' by choosing a large integer value
        return 1e10  # Choose a suitable large integer
    else:
        # For other values, convert them to integers
        return int(value)

# Apply the function to the 'Days_spent' column
data_clean['Days_spent'] = data_clean['Days_spent'].apply(convert_range_to_midpoint)

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\953701533.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Days_spent'] = data_clean['Days_spent'].apply(convert_range_to_midpoint)

In [257]:
data_clean['PotentialFraud'].unique()

array(['No', 'Yes'], dtype=object)

In [258]:
data_clean['PotentialFraud']=data_clean['PotentialFraud'].map({'No':0,'Yes':1})

C:\Users\manas\AppData\Local\Temp\ipykernel_14496\1612097784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['PotentialFraud']=data_clean['PotentialFraud'].map({'No':0,'Yes':1})

In [259]:
data_clean.head()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim,PotentialFraud
0,60.0,1,64,24.3,1,0,1,72,0,0,1,0,4.0,122,0,1,1.0,0,13112.6,0
1,49.0,0,75,22.6,1,0,2,78,1,1,2,0,4.0,197,1,3,2.0,0,9567.0,0
2,32.0,0,64,17.8,2,1,3,88,1,1,3,0,3.0,122,0,1,1.0,0,32734.2,0
3,61.0,0,53,36.4,1,1,4,72,1,0,4,0,1.0,122,0,1,1.0,0,48517.6,1
4,19.0,0,50,20.6,0,0,5,82,1,0,5,0,3.0,122,0,2,3.0,0,1731.7,0

In [260]:
data_clean.head()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim,PotentialFraud
0,60.0,1,64,24.3,1,0,1,72,0,0,1,0,4.0,122,0,1,1.0,0,13112.6,0
1,49.0,0,75,22.6,1,0,2,78,1,1,2,0,4.0,197,1,3,2.0,0,9567.0,0
2,32.0,0,64,17.8,2,1,3,88,1,1,3,0,3.0,122,0,1,1.0,0,32734.2,0
3,61.0,0,53,36.4,1,1,4,72,1,0,4,0,1.0,122,0,1,1.0,0,48517.6,1
4,19.0,0,50,20.6,0,0,5,82,1,0,5,0,3.0,122,0,2,3.0,0,1731.7,0

In [261]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [262]:
# distribution of legit transactions & fraudulent transactions
data_clean['PotentialFraud'].value_counts()

PotentialFraud
0    12257
1     1364
Name: count, dtype: int64

In [263]:
# separating the data for analysis
normal = data_clean[data_clean.PotentialFraud == 0]
fraud = data_clean[data_clean.PotentialFraud == 1]

In [264]:
print(normal.shape)
print(fraud.shape)

(12257, 20)
(1364, 20)

In [265]:
# statistical measures of the data
normal.claim.describe()

count    12257.000000
mean     10190.609358
std       7425.196503
min       1121.900000
25%       4564.200000
50%       8605.400000
75%      13047.300000
max      34915.700000
Name: claim, dtype: float64

In [266]:
normal.claim.describe()

count    12257.000000
mean     10190.609358
std       7425.196503
min       1121.900000
25%       4564.200000
50%       8605.400000
75%      13047.300000
max      34915.700000
Name: claim, dtype: float64

In [267]:
# compare the values for both transactions
data_clean.groupby('PotentialFraud').mean()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim
PotentialFraud,,,,,,,,,,,,,,,,,,,
0,39.277637,0.476136,64.628620,29.787028,1.088847,0.112670,46.831770,68.455903,0.763808,0.239373,15.727339,1.808681,815864.657991,203.521172,59.983520,2.012891,1.737538,0.165293,10190.609358
1,42.340909,0.582845,65.134164,34.754985,1.265396,0.968475,47.344575,70.087243,0.955279,0.076246,16.915689,1.815982,4.466276,201.249267,60.173021,2.004399,1.723607,0.170821,42463.341056

In [268]:
#Handling Undersampling 
normal_sample = normal.sample(n=1364)

In [269]:
#Combing the normal and fraud transactions (Undersampled data)
new_dataset = pd.concat([normal_sample, fraud], axis=0)

In [270]:
new_dataset.head()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim,PotentialFraud
12904,52.0,1,63,32.2,3,0,44,54,1,1,25,3,3.0,106,57,3,3.0,0,11488.3,0
6105,24.0,0,46,20.5,0,1,9,90,1,1,5,1,2.0,2,30,1,3.0,0,14571.9,0
12530,18.0,1,67,34.4,0,0,49,55,1,0,10,3,3.0,128,14,2,1.0,0,1137.5,0
2826,22.0,1,50,28.3,1,0,17,52,1,0,1,1,5.0,15,48,2,1.0,1,2639.0,0
2547,28.0,0,62,28.9,1,0,17,72,1,0,20,1,2.0,112,116,2,3.0,0,4337.7,0

In [271]:
new_dataset.tail()

,age,sex,weight,bmi,no_of_dependents,smoker,city,bloodpressure,diabetes,regular_ex,job_title,Hospital County,Days_spent,ccs_diagnosis_code,Illness,Code_illness,Mortality risk,Surg_Description,claim,PotentialFraud
14935,39.0,1,74,35.3,2,1,61,64,1,0,23,3,2.0,218,43,1,1.0,0,40103.9,1
14936,20.0,1,52,26.4,2,1,62,70,1,0,10,3,2.0,197,1,2,1.0,0,38344.6,1
14968,26.0,0,57,32.5,0,1,22,65,0,1,12,3,1.0,128,4,2,3.0,0,35908.7,1
14983,37.0,0,76,38.4,0,1,90,86,1,0,31,3,26.0,99,47,4,4.0,0,40419.0,1
14990,43.0,1,72,36.0,3,1,26,74,1,0,12,3,2.0,112,116,2,3.0,0,42124.5,1

In [272]:
#Counting fraud and normal as expected they are equal so our model is fit for training
new_dataset['PotentialFraud'].value_counts()

PotentialFraud
0    1364
1    1364
Name: count, dtype: int64

In [273]:
#splitting data
x=new_dataset.drop('PotentialFraud', axis=1)
y=new_dataset['PotentialFraud']

In [274]:
#importing model selection 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [275]:
#Importing Logistic Regression
from sklearn.linear_model import LogisticRegression

#Creating instance of LogisticRegression
LOR = LogisticRegression()

#Training 
LOR.fit(x_train,y_train)

C:\Users\manas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [276]:
#Prediction of Logistic Regression
y_pred1=LOR.predict(x_test)

In [277]:
#Predicting Score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score,recall_score,f1_score

In [278]:
accuracy_score(y_test,y_pred1)

0.9853479853479854

In [279]:
precision_score(y_test,y_pred1)

0.975177304964539

In [280]:
recall_score(y_test,y_pred1)

0.9963768115942029

In [281]:
f1_score(y_test,y_pred1)

0.985663082437276

In [282]:
#Saving Job
LOR1=LogisticRegression()

In [283]:
LOR1.fit(x_train,y_train)

C:\Users\manas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [284]:
import joblib

In [285]:
joblib.dump(LOR1,"Fraud Mediclaim Detection") #assiging a name to the job

['Fraud Mediclaim Detection']

In [286]:
model=joblib.load("Fraud Mediclaim Detection")

In [298]:
#input for prediction
pred = model.predict([[50.0	,1,	88,	28.7	,2,	0,	68,	86,	0	,1,	14,	3,	2.0,	780,	33,	3,	3.0,	0,	10000000	]])

C:\Users\manas\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [299]:
if pred == 0:
    print("Normal Transcation")
else:
    print("Fraudulent Transcation")

Fraudulent Transcation